<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <title>Add users</title>
</head>

<body>
    <h1>Page d'inscription</h1>
    <main>
        <section>
            <h2>Pas encore inscrit ? Vous s'incrire</h2>
            <form id="addUser" method="POST">
                <label for="addUser" class=" col-2 offset-5 text-center">Ajouter un id utilisateur</label>
                <input type="text" id="addUser" name="addUser" placeholder="Codicode" class="form-control col-4 mx-auto">
                <label for="mdp" class="col-2 offset-5 text-center">Ajouter un mot de passe</label>
                <input type="password" id="mdp" name="mdp" placeholder="******" class="form-control col-4 mx-auto" />
                <input type="submit" id="btn" value="Valider" class="btn btn-primary col-2 offset-5">
                </div>
            </form>
        </section>
    </main>
</body>

</html>