<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nouvel Event</title>
</head>

<body>
    <form method="POST">
        <label for="name">Username</label>
        <input type="text" id="name" name="name" placeholder="pseudo">
        <label for="content">Message</label>
        <input type="text" id="content" name="content" placeholder="Entrez un message">
        <button id="btn">Send</button>
    </form>
    <div id="art"></div>
    <script src="/script.js"></script>
</body>

</html>