<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nouvel Event</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="container">
        <div class="row">
            <h3 class="col-6">Welcome {*{user}}</h3>
            <button id="newevent" class="btn btn-outline-info col-2 offset-4">Add an event</button>
        </div>
    </header>
    <div id="formcont">
        <form class="container" id="eventForm" method="POST">
            <div class="form-group">
                <h2 class="form-heading col-6 offset-3 text-center">Create an event</h2>
                <label for="title" class=" col-2 offset-5 text-center">Title</label>
                <input type="text" class="form-control col-4 mx-auto" id="title" title="name" placeholder="Example">
                <label for="content" class="col-2 offset-5 text-center">Message</label>
                <textarea id="content" class="form-control col-4 mx-auto" rows="7" name="content" placeholder="Enter a message"></textarea>
                <input type="submit" class="btn btn-primary col-2 offset-5" id="btn" value="Submit">
            </div>
        </form>
    </div>
    <div id="art">
        <h1 class="text-center">Events List</h1>
    </div>
    <script src="/script.js"></script>
</body>

</html>